@import "tailwindcss";

@theme {
	--color-background-light: #ffffff;
	--color-background-dark: #1e293b;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.marble-bg {
	background: linear-gradient(
		135deg,
		#fdf2f8 0%,
		#fce7f3 25%,
		#eff6ff 50%,
		#dbeafe 75%,
		#f0f9ff 100%
	);
}

.imgDark {
	display: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	.imgLight {
		display: none;
	}
	.imgDark {
		display: unset;
	}
}
