@import "tailwindcss";

@theme {
  --color-text-primary: #f472b6;
  --color-text-black: #080808;
  --color-text-white: #ffffff;
  --color-text-gray: #6b7280;
  --color-text-blue: #007bff;
  --color-button-primary: #f472b6;
  --color-background-red: #ff5555;
  --color-background-light-gray: #f5f5f5;
  --color-background-blue: #f0f9ff;
  --color-background-light: #ffffff;
  --color-background-dark: #1e293b;
  --color-background-black: #080808;
  --color-background-primary: #f472b6;
  --color-border-gray: #e5e7eb;
  --color-border-selected-light: #f472b6;
}

.bg-theme {
  background: linear-gradient(
    135deg,
    #fdf2f8 0%,
    #fce7f3 25%,
    #eff6ff 50%,
    #dbeafe 75%,
    #f0f9ff 100%
  );
}
